body {
	align-items: center;
	box-sizing: border-box;
	color: #222;
	display: flex;
	font-family: "Courier New", Courier, monospace;
	height: 100vh;
	justify-content: center;
	margin: 0;
	overflow: hidden;
	width: 100vw;
}

main {
	display: flex;
	flex-direction: column;
	height: calc(100% - 40px);
	position: relative;
	width: calc(100% - 40px);
}

dialog {
	padding: 0;
}

aside {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 100;
}

button {
	background-color: transparent;
	border: 2px solid #222;
	cursor: pointer;
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	text-align: center;
	transition: 0.25s background-color;
	vertical-align: middle;
}
button:hover {
	background-color: rgb(200,200,200);
}

.slot {
	flex-basis: 0;
	flex-grow: 1;
	z-index: 1;
}

.slot:nth-of-type(1) {
	background-color: rgb(240,240,240);
}

.slot:nth-of-type(2) {
	background-color: rgb(220,220,220);
}

.slot:nth-of-type(3) {
	background-color: rgb(200,200,200);
}

.tower {
	display: flex;
	position: absolute;
	width: 100%;
	height: 33%;
	transition: 0.4s top, 0.4s opacity;
}

.tower[data-position="1"] {
	top: 0;
}

.tower[data-position="2"] {
	top: 33.33333%;
}

.tower[data-position="3"] {
	top: 66.66666%;
}

.tower .inner {
	border-radius: 50%;
	box-shadow: 2px 2px 16px -5px #000;
	margin: auto;
}

#prompt {
	height: 100%;
	position: fixed;
	opacity: 1;
	transition: 0.8s opacity;
	width: 100%;
	z-index: 1000;
}

.backdrop {
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	position: absolute;
	width: 100%;	
}

.message {
	background-color: rgb(256,256,256);
	margin: 20px auto;
	padding: 20px;
	position: relative;
	text-align: center;
	width: 50%;
	z-index: 1050;
}

.message input {
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}